.section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    text-align: justify;
}


.about {
    display: none;
    color: #333;
}

.person{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
    border-radius: 15px;          
    background-color:#D8959B;  
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    margin-bottom: 20px;
    position: relative;
}

.photo {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px; 
    order: 1
}

.person h3 {
    text-transform: uppercase;
    margin: 0;
    cursor: pointer;
    order: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

.person:hover .about{
    display: block;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    width: fit-content;
    padding: 15px;
    flex: 1;
    background-color: #fff;
    padding: 20px;
    color: #4a4a4a;
    font-size: 18px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.about_icons_box{
    display: flex;
    gap: 20px;
}

.about_icons_box a{
    background-color: white;
    padding: 1em;
    border-radius: 50%;
}

.about_icons_box a svg{
    height: 30px;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #F4F3F1;
    color: #333;
}

header, footer {
    background-color: #F4F3F1;
    text-align: center;
    padding: 20px;
}

header h1, footer p {
    color: #4a4a4a;
    margin: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Added shadow */
    border-radius: 10px; /* Rounded corners */
    background: white; /* Standout background for container */
}

h1, h3 {
    color: #4a4a4a;
}

input[type="date"] {
    font-size: 1em;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: calc(100% - 20px);
    max-width: 400px;
    margin: 10px 0 20px;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #D8959B;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Added shadow */
        
}

button:hover {
    background-color: #B97483;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3); /* Darker shadow on hover */
}

.articles {
    margin-top: 30px;
    text-align: left;
}

.article {
    background: white;
    margin: 10px 0;
    padding: 15px;
    border-radius: 5px;
    box-shadow:  0 4px 6px rgba(0, 0, 0, 0.1);
}

.article h3 {
    margin: 0 0 10px;
    font-size: 1.2em;
    color: #4a4a4a;
}

.article p {
    font-size: 0.9em;
    color: #666;
    margin-bottom: 10px;
}

.article a {
    color: #9370db;
    text-decoration: none;
    font-weight: bold;
}

.article a:hover {
    text-decoration: underline;
}


.about_header {
    color: #4a4a4a;
}

.about_icons_box a {
    color: #4a4a4a;
    text-decoration: none;
    margin-right: 10px;
}

.about_icons_box a:hover {
    color: #9370db;
}

/* Set height of body and the document to 100% to enable "full page tabs" */
body, html {
    height: 100%;
    margin: 0;
    font-family: Arial;
  }
  
  /* Style tab links */
  .tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Added shadow */
    border-radius: 0 0 5px 5px; /* Slightly rounded corners */
  }
  
  .tablink:hover {
    background-color: #777;
  }
  
  /* Style the tab content (and add height:100% for full page content) */
  .tabcontent {
    color: white;
    display: none;
    padding: 100px 20px;
    height: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Added shadow */
    border-radius: 10px;
  }
  
  #Home {background-color: #A7B59E;}
  #News {background-color: #F2D1D4;}
  #Project {background-color: #A7B59E;}
  #About {background-color: #F2D1D4;}

  .projects_container {
    display: flex;
    gap: 20px;
  }

  .project {
    flex: 1;
    background-color: #fff;
    padding: 20px;
    color: #4a4a4a;
    font-size: 18px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }

  .project h4 {
    font-size: 28px;
    margin: 0;
  }

 .project:hover {
    background-color: #A7B59E;
    color: #fff;
    transition: all 0.3s ease;
 }
 
@media (max-width: 768px) {
  .projects_container {
    flex-direction: column;
  }
}
